{% extends "base.html.twig" %}

{% block title %}Users{% endblock %}

{% block body %}

    <h1>Welcome to the user page</h1>

    {% for user in users %}

        <div>
            <p class="name">Nombre: {{ user.name }}</p>
            <p class="email">Email: {{ user.email }}</p>
            <p class="password">Contraseña: {{ user.password }}</p>
        </div>

    {% endfor %}

{% endblock %}
